body {
	font-family: 'PT Sans Narrow', 'Arial', sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}

.container {
	margin: 0 auto;
	width: 70%; 
}

.btn {
	display: block;
	padding: 15px 16px;
	background-color: black;
	border: 0;
	font-size: 13px;
	font-weight: inherit;
	color: white;
	text-transform: uppercase;

	transition: 
	background-color 0.5s
}

.btn:hover, .btn:active {
	cursor: pointer;
	background-color: #663d15;

}

/*<==================== header ====================>*/

.main-header {
	width: 100%;
	background-color: #000;
}

.main-header > .container{
	min-height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	

	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
}

.main-navigation ul {
	margin: 0;
	padding: 0;
}

.main-navigation__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	list-style-type: none;

}


.main-navigation__item a{
	display: block;
	padding: 26px 20px;
	background-color: black;

	transition: 
	background-color 0.5s;
}

.main-navigation__item img {
	display: block;
	padding: 23px 20px;
}

.main-navigation__item a:hover, a:active {
	cursor: pointer;
	background-color: #242424;
}

.main-navigation__item_active {
	display: block;
	padding: 26px 20px;
	box-shadow: inset 0 -4px #fff;
}



.user-block {
	position: relative;
}

.user-block::before {
	position: absolute;
	top: 27px;
	left: 18px;
	content: "";
	display: block;
	width: 18px;
    height: 16px;
    background-image: url("../img/spritesheet.png");
    background-position: -1px -14px;
	background-repeat: no-repeat;
	opacity: 0.3;
    
}

.user-block:hover::before {
	opacity: 1;
}

.user-block__link {
	display: block;
	padding: 26px 25px 26px 50px;
	color: #fff;
	text-decoration: none;
}

.user-block__link:hover, .user-block__link:active {
	background-color: #242424;
	cursor: pointer;
}



/*<==================== catalog-list ====================>*/

main {
	border: 1px solid transparent;
	background: #f5f2ef url("../img/main-bg.jpg") repeat;

}


.page-title {
	margin-top: 49px;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 42px;
}

.breadcrumbs {
	margin-top: 17px;
	margin-bottom: 55px;
}

.breadcrumbs__list {
	list-style-type: none;
	padding-left: 0;
}


.breadcrumbs__item {
	position: relative;
	display: inline-block;
	padding-right: 25px;
	margin-right: 15px;
	text-transform: uppercase;
	color: #aba9a7;
}

.breadcrumbs__item  a {
	color: black;
	text-decoration: none;
}

.breadcrumbs__item::after {
	content: "";
	position: absolute;
	top: 3px;
	right: 0;
	width: 8px;
	height: 8px;
	background-color: black;
	transform: rotate(45deg);
}

.breadcrumbs__item:last-child::after {
	content: "";
	background-color: transparent;
}

.catalog-wrapper {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	margin-bottom: 45px;
}

.catalog-filters {
	flex-basis: 240px;
	flex-shrink: 0;
}

@media (max-width: 768px) {
	.catalog-filters {
		display: none;
	}
}

.catalog-filters__title {
	margin-bottom: 33px;
	margin-top: 50px;

	text-transform: uppercase;
	font-size: 24px;
}

.catalog-filters__title:first-child {
	margin-top: 0;
}

.catalog-filters__input-name {
	display: block;
	text-transform: uppercase;
}

.catalog-filters__input-name:hover {
	color: #663d15;
}

input[type="checkbox"], input[type="radio"] {
	display: none;
}

input[type="checkbox"] + label, input[type="radio"] + label {
	display: block;
	margin: 17px 0;
	padding-left: 45px;
	line-height: 18px;
	position: relative;
	cursor: pointer;
}


input[type="checkbox"] + label::before {
	content:"";
	width: 16px;
	height: 16px;
	border: 2px solid #000;
	background-color: #f9f6f3;

	position: absolute;
	top: 0;
	left: 0;
}

input[type="checkbox"]:checked + label::after {
	content: "";
    width: 20px;
    height: 20px;
    background: url(../img/checkbox-icon.png) no-repeat;
    
    position: absolute;
    top: 14px;
    left: 14px;
    transform: translate(-50%, -50%);
}

input[type="radio"] + label::before {
	content: "";
	display: block;
	width: 16px;
	height: 16px;
	border: 2px solid black;
	border-radius: 50%;

	position: absolute;
	top: 0;
	left: 0;
}

input[type="radio"]:checked + label::after {
	content: "";
	width: 8px;
	height: 8px;
	background-color: black;
	border-radius: 50%;

	position: absolute;
	top: 10px;
	left: 10px;
	transform: translate(-50%, -50%);
}

.catalog-filters__button {
	margin-top: 50px;
}


.catalog-products {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-content: flex-start;
	margin-top: 5px;
}

.catalog-product {
	flex-basis: 220px;
	margin-bottom: 20px;
	margin-right: 10px;
	flex-grow: 1;
	background-color: white;
	box-shadow: 0 0 15px 3px rgba(0, 1, 1, 0.1);
}

.catalog-product:hover {
	box-shadow: 0 0 15px 5px rgba(0, 1, 1, 0.1);
}

.catalog-product__image > img {
	width: 100%;
}

.catalog-product__name {
	margin: 14px 16px;
}

.catalog-product__name > a {
	color: black;
	text-decoration: none;
	display: inline-block;
    min-height: 32px;
}

.catalog-product__name > a:hover {
	color: #663d15;
}

.product-order {
	margin: 0 16px 17px 16px;
	display: flex;
}

.product-order__price {
	flex-basis: 109px;
	flex-grow: 1;
	background-color: #e5e5e5;
	display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 44px;
}

.product-order__button {
	flex-grow: 1;
}



.pagination {
	margin-top: 18px;
	margin-bottom: 50px;

}

.pagination__list {
	list-style-type: none;
	padding-left: 0;
}

.pagination__item {
	display: inline-block;
	background-color: black;
	margin-right: 4px;
}

.pagination__item > a {
	display: inline-block;
	padding: 14px 18px;
	color: white;
	text-decoration: none;
}

.pagination__item > a:hover {
	background-color: #663d15;
}

.pagination__item_activ {
	padding: 16px 18px;
	background-color: white;
	color: black;
}

/*<==================== footer ====================>*/

.main-footer {
	padding-top: 60px;
	padding-bottom: 35px;
	background: #000 url("../img/footer-bg.jpg") no-repeat;

	color: white;
	text-transform: uppercase;
}

.main-footer::after {
	content: '';
	display: table;
	clear: both;
}

.main-footer__address {
	float: left;
	margin-right: 90px;
	width: 320px;
}

.main-footer__address-details {
	line-height: 24px;
	padding: 0;
	margin: 0;
}

.main-footer__link {
	color: white;
}

.main-footer__social-networks {
	float: left;
}

.main-footer__social-title {
	margin-top: 0;
	margin-bottom: 18px;
	display: block;
	text-align: center;
}

.main-footer__social {
	display: inline-block;
	width: 43px;
	height: 43px;
	margin-right: 2px;
	background: #000 url("../img/spritesheet.png") no-repeat;
	transition: 
	background-position 0.5s, 
	background-color 0.5s;

	font-size: 0;
	vertical-align: top;
	text-decoration: none;
}

.main-footer__social_vk {
	background-position: 9px -447px;
}

.main-footer__social_vk:hover {
	background-color: white;
	background-position: 9px -381px;
}

.main-footer__social_fc {
	background-position: 15px -171px;
}

.main-footer__social_fc:hover {
	background-color: white;
	background-position: 15px -100px;
}

.main-footer__social_in {
	background-position: 12px -313px;
}

.main-footer__social_in:hover {
	background-color: white;
	background-position: 12px -242px;
}


.main-footer__developer {
	float: right;
	width: 140px;
}

.main-footer__developer > span {
	display: block;
	margin-top: 0;
	margin-bottom: 20px;
	text-align: center;
}

.main-footer__developer-name {
	display: block;
	background-color: black;
	color: white;
	padding: 15px 20px;
	text-decoration: none;

	transition: 
	color 0.5s,
	background-color 0.5s;
}

.main-footer__developer-name:hover {
	color: black;
	background-color: white;
}


/*<==================== catalog-item ====================>*/

.item-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-bottom: 50px;
}

.item-gallery {
	flex-basis: 460px;

}

.item-gallery__big-image {
	margin-bottom: 20px;
	box-shadow: 0 0 15px 3px rgba(0, 1, 1, 0.1);
	
}

.item-gallery__big-image > img {
	margin-bottom: -3px;
	max-width: 100%;
}

.item-gallery__additional-images {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
	flex-wrap: wrap;
}

.item-gallery__additional-img {
	box-shadow: 0 0 15px 3px rgba(0, 1, 1, 0.1);
	margin-bottom: 10px;
	overflow:hidden;
	width: 140px;
	height: 149px;
}

.item-gallery__additional-img > img {
	margin-bottom: -2px;
	transition: all 1s ease-out;
}

.item-gallery__additional-img > img:hover {
	transform: scale(1.05);
}


.item-details {
	flex-basis: 394px;
	text-transform: uppercase;
	line-height: 24px;
}

.item-details__parameters {
	padding-top: 25px;
}

.item-details__parameters::after {
	content: "";
	display: table;
	clear: both;
}

.item-details__availability {
	float: left;
}

.item-details__article {
	float: right;
	margin-right: 10px;
	color: #b8b8b7;
}

.item-details__description-wrapper {
	margin: 25px 0;
	margin-bottom: 35px;
}

.item-details > .product-order {
	margin: 0;
	padding: 0;
}

.item-details .product-order__price,
.item-details .product-order__button {
	flex-grow: 0;
}

.item-details__components {
	margin-top: 65px;
}

.item-details__components-title {
	font-size: 24px;
	line-height: 30px;
	display: block;
	margin-bottom: 24px;
}

.item-details__components-list {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.item-details__components-item {
	padding-left: 20px;
	position: relative;
}

.item-details__components-item::before {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
    position: absolute;
    top: 8px;
    right: 0;
    width: 8px;
    height: 8px;
    background-color: black;
    transform: rotate(45deg);

}

/*<==================== login-form ====================>*/

.background {
	width: 100%;
	min-height: 1000px;
	background-color: black;
	opacity: 0.5;
}

.login-form {
	width: 460px;
	min-height: 386px;
	background: #f5f2ef url(../img/main-bg.jpg);
	padding: 50px 80px 60px 80px;
	box-sizing: border-box;

	position: fixed;
	margin-left: -230px;
	top: 100px;
	left: 50%;

	text-transform: uppercase;

}

.login-form__title {
	font-size: 30px;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;

}